<style>
    @media (min-width: 992px) and (max-width: 1199.98px) {
      form {
        width: 50%;
      }
    }
    @media (min-width: 1200px) {
      form {
        width: 50%;
      }
    }
  </style>
  <%- include('../partials/header') %>
  <div style="margin-top: 7%" class="container">
    <h1 class="display-4 text-center">Edit <%= campground.name %>  Campground</h1>
    <form style="margin: auto" action="/campgrounds/<%= campground._id %>?_method=PUT" method="post">
      <div class="input-group input-group-md mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Name</span>
        </div>
        <input
          type="text"
          name="campground[name]"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
          value="<%= campground.name %>" 
        />
      </div>
      <div class="input-group input-group-md mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg"
            >Image URL</span
          >
        </div>
        <input
          type="text"
          name="campground[image]"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
          value="<%= campground.image %>" 
        />
      </div>
      <div class="input-group input-group-md mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg"
            >Description</span
          >
        </div>
        <input
          type="text"
          name="campground[description]"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-lg"
          value="<%= campground.description %>" 
        />
      </div>
      <button class="btn btn-primary btn-block btn-lg" type="submit">
        SUBMIT
      </button>
    </form>
  
    <div class="row">
      <a
        style="margin: auto"
        class="btn btn-secondary btn-sm mt-2 mb-2 ml-6"
        href="/campgrounds"
        >Back to Campground!</a
      >
    </div>
  </div>
  <%- include('../partials/footer') %>
  